body {
  margin: 0;
  padding: 0;
  background-color: #dcfce7;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.page-main {
  background-color: #f0bb2b;
  filter: drop-shadow(0px 5px 5px #404040);
  width: 65%;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 15% 1fr 20%;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
  align-self: center;
  justify-self: center;
  font-size: 4rem;
}

.image-container {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #bbf7d0;
  border: 4px dashed #78716c;
  display: grid;
}

.image-helper {
  grid-area: 3 / 1 / 4 / 4;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.arrow-left-container,
.arrow-right-container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.left-arrow,
.right-arrow,
.left-arrow-onhover,
.right-arrow-onhover {
  width: 60%;
  height: 60%;
  transition: all 700ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.64, 1.59);
  opacity: 1;
  cursor: pointer;
}

.left-arrow,
.left-arrow-onhover {
  grid-area: 1 / 1 / 2 / 2;
}

.right-arrow,
.right-arrow-onhover {
  transform: rotate(180deg);
  grid-area: 1 / 1 / 2 / 2;
}

.right-arrow-onhover {
  transform: translateX(-100%) rotate(180deg);
  opacity: 0;
}

.left-arrow-onhover {
  transform: translateX(100%);
  opacity: 0;
}

.arrow-left-container:hover .left-arrow {
  transform: translate(-200%);
  opacity: 0;
}

.arrow-left-container:hover .left-arrow-onhover {
  transform: translateX(0);
  opacity: 1;
}

.arrow-right-container:hover .right-arrow {
  transform: translate(200%) rotate(180deg);
  opacity: 0;
}

.arrow-right-container:hover .right-arrow-onhover {
  transform: translateX(0%) rotate(180deg);
  opacity: 1;
}

.sketch,
.restaurant,
.calculator,
.todolist,
.library,
.sign,
.tictactoe,
.dashboard,
.landing {
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  transition: all 500ms ease-in-out;
  transform: translateX(-150%);
}

.slideCenter {
  transform: translateX(0);
  opacity: 1;
}

.slideRight {
  transform: translateX(150%);
  opacity: 0;
}

.image-index {
  display: grid;
  grid-row: 1fr 1fr;
  width: 90%;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.displayer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1vw;
  justify-items: center;
  align-items: center;
}

.pause-container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.image-index .pause {
  width: 3%;
  height: 100%;
  background-color: #8ae9ff;
  border: 2px solid #368a9c;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.64, 1.59);
}

.image-index div {
  width: 65%;
  height: 50%;
  border-radius: 50px;
  transition: all 500ms ease-in-out;
}

.slider-one,
.slider-two,
.slider-three,
.slider-four,
.slider-five,
.slider-six,
.slider-seven,
.slider-eight,
.slider-nine {
  background-color: rgb(188, 131, 10);
}

.selected {
  background-color: rgb(196, 105, 15);
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px white);
}
